# Supabase
NEXT_PUBLIC_SUPABASE_URL=your-project-url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key

# AI
GEMINI_API_KEY=your-gemini-key
OPENAI_API_KEY=your-openai-key

# PayTech (Mobile Money : Wave, Orange Money, Free, MTN, Moov, Carte bancaire)
PAYTECH_API_KEY=your-paytech-api-key
PAYTECH_API_SECRET=your-paytech-api-secret
PAYTECH_ENV=test # 'test' ou 'live'
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Firebase
NEXT_PUBLIC_FIREBASE_API_KEY=your-firebase-key
NEXT_PUBLIC_FIREBASE_PROJECT_ID=viralmind-8a284
FIREBASE_CLIENT_EMAIL=your-firebase-service-account-email
FIREBASE_PRIVATE_KEY=your-firebase-private-key
